@using static EscapeFromTarkov.Controllers.HomeController;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Данные об оружие";
}
@model PrivateAccViewModel
<section>
    <form asp-action="AdminPanelWeapon" method="get">
        <div class="grid-main">
            <div class="grid-container-main">
                <div><a asp-action="AdminPanelBoss">Боссы</a></div>
                <div><a asp-action="AdminPanelCard">Карты</a></div>
                <div><a asp-action="AdminPanelWeapon">Оружие</a></div>
                <div><a asp-action="AdminPanelNPS">НПС</a></div>
                <div><a asp-action="AdminPanelProduct">Товары</a></div>
                <div><a asp-controller="swagger" asp-action="index.html">Swagger</a></div>
            </div>
            <div class="main-container">
                <table class="boss-table">
                    <tr>
                        <th colspan="2" style="font-size:25px;">Оружие</th>
                    </tr>
                    <tr>
                        <th сolspan="1">ОружиеId</th>
                        <th colspan="1">Наименование</th>
                        @*<th>Изображение</th>*@
                    </tr>
                    @foreach (var boss in Model.Weapon)
                    {
                        <tr>
                            <td>@boss.ОружиеId</td>
                            <td>@boss.Наименование</td>
                            @*<td><img src="data:image/jpeg;base64,@Convert.ToBase64String(@boss.Изображение)" /></td>*@
                        </tr>
                    }
                </table>
            </div>
        </div>
    </form>
</section>