@{
    Layout = "_Layout";
    ViewData["Title"] = "Чат";
}
<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
<section>
    <form asp-action="ChatBot" method="get">
        <div class="grid-main">
            <nav class="menu">
                <ul>
                    <a asp-action="MainWindow">Об игре</a>
                    <a asp-action="PrivateAcc">Личный кабинет</a>
                    <a asp-action="Bosses">Боссы</a>
                    <a asp-action="Cards">Карты</a>
                    <a asp-action="NPS">НПС</a>
                    <a asp-action="ChatBot">Бот-помощник</a>
                    <a asp-action="Chat">Чат</a>
                </ul>
            </nav>
            <div class="main-container-bot">
                <div class="chat-container">
                    <div class="user-list">
                        <ul>
                            <li class="active">John Doe</li>
                            <li>Jane Smith</li>
                            <li>Bob Johnson</li>
                            <li>Alice Williams</li>
                        </ul>
                    </div>
                    <div class="chat">
                        <div class="chat-messages">
                        </div>
                        <div class="chat-input">
                            <input type="text" placeholder="Type your message...">
                            <button><i class="fas fa-paper-plane"></i> Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>