@{
    Layout = "_Layout";
    ViewData["Title"] = "Главное окно";
}

<section>
    <form asp-action="MainWindow" method="get">
        <div class="grid-main">
            
            <nav class="menu">
                <ul>
                    <a asp-action="MainWindow">Об игре</a>
                    <a asp-action="PrivateAcc">Личный кабинет</a>
                    <a asp-action="Bosses">Боссы</a>
                    <a asp-action="Cards">Карты</a>
                    <a asp-action="NPS">НПС</a>
                    <a asp-action="Weapon">Оружие</a>
                    <a asp-action="ChatBot">Бот-помощник</a>
                    <a asp-action="Chat">Чат</a>
                </ul>
            </nav>
            <div class="main-container">
                <div>
                        <p style="font-size:18px;"><b>Escape from Tarkov / Побег из Таркова</b> - это хардкорная реалистичная сюжетная многопользовательская онлайн-игра, сочетающая в себе черты жанров FPS / TPS, боевого симулятора и RPG c ММО элементами.

                        С каждым безвозвратно уходящим в прошлое днем ситуация в Норвинской области становится все более и более запутанной. Непрекращающиеся бои на улицах Таркова вызвали массовую панику среди населения, заполнив беженцами ведущие из него дороги. Нашлись, впрочем, среди местных жителей и те, кто решил остаться, увидев в возникшей ситуации возможность поживиться за чужой счет. Приняв новые реалии как данность, неорганизованные одиночки из числа обитателей Таркова - Дикие - стали сбиваться в хорошо вооруженные банды, дерущиеся друг с другом за передел города. Сегодня весь Тарков разграничен невидимыми линиями на зоны влияния различных группировок. В своей жажде наживы вооруженные бандиты не остановятся ни перед чем, их не пугают ни убийства гражданских лиц, ни прямые столкновения с двумя частными военными компаниями.</p>
                    </div>
                <div>
                    <p style="font-size:20px;">Время пришло.</p>
                    <ul>
                        <li>Сюжетная часть разделена на сценарии и доступна в качестве отдельного многопользовательского режима.</li>
                        <li>Совершайте рейды на обширные локации с друзьями или поодиночке. Исследуйте уникальные и запоминающиеся места Таркова и его окрестностей: жилые районы, химический завод, базу ПВО, центр Таркова, частный жилой сектор и многие другие - в переменчивых погодных условиях и меняющемся времени суток.</li>
                        <li>Открывайте скрытые локации - законсервированные лаборатории и схроны, запертые офисы TerraGroup и подземные склады.</li>
                        <li>Находите полезную информацию и предметы, которые помогут вам обрести понимание того, что происходит в городе.</li>
                    </ul>
                    </div>
                <div>
                    <p style="font-size:20px;">Прочувствуйте игру до конца благодаря глубочайшей имитации боевых условий.</p>
                    <ul>
                        <li>Встречайте новый системный модуль СБЭУ - симулятор боя в экстремальных условиях.</li>
                        <li>Примите во внимание реальную баллистику и физику пробитий.</li>
                        <li>Приготовьтесь к тому, что оружие будет вести себя так же, как и в реальной жизни.</li>
                        <li>Привыкайте к явлениям, характерным для любого оружия - клинам, перегревам, износу, перезарядке, прицеливанию, заряжанию и, конечно, стрельбе.</li>
                        <li>Откройте для себя самую подробную на сегодняшний день систему модификаций. В погоне за расширением тактических возможностей своего оружия менять можно все, что угодно.</li>
                        <li>Взаимодействуйте с окружающей вас средой, добиваясь главенства над ситуацией - выключайте свет, производите прорывы и зачистки помещений благодаря системе взаимодействия с дверьми.</li>
                    </ul>
                </div>
                <div>
                    <p style="font-size:20px;">Выживайте и будьте начеку.</p>
                    <ul>
                        <li>В случае гибели, вы теряете все, что взяли с собой в рейд или нашли в нем - а потому готовьте резервные комплекты экипировки, организуйте схроны, используйте защищенные контейнеры и страховку.</li>
                        <li>Не забывайте о тщательном уходе за собой, своей экипировкой и оружием. Применяйте нужные лекарства из широкого спектра доступных в нужное время, чтобы не погибнуть и не потерять концентрацию. Ремонтируйте броню, огнестрельное и холодное оружие. Очищайте воду и грамотно распределяйте запасы еды.</li>
                        <li>Управление инвентарем производится традиционным образом, с помощью слотов. Настройте свою разгрузку под свои задачи сами, как настоящий профессионал.</li>
                        <li>Используйте спецсредства - очки ночного видения, рации и гарнитуры, шлемы и бронежилеты - для получения превосходства над противником.</li>
                        <li>Обыскивайте убитых врагов в поисках добычи, которую можно будет использовать или продать.</li>
                        <li>Зарабатывайте опыт - получайте очки и повышайте уровень, упражняясь в повторении около сотни уникальных навыков.</li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</section>