@using static EscapeFromTarkov.Controllers.HomeController;
@{
    Layout = "_Layout";
    ViewData["Title"] = "НПС";
}
@model PrivateAccViewModel
<section>
    <form asp-action="NPS" method="get">
        <div class="grid-main">
            <nav class="menu">
                <ul>
                @foreach (var nps in Model.NPS)
                {
                    if (nps.Наименование != null)
                    {
                        <a>@nps.Наименование</a>
                    }
                }
                </ul>
            </nav>
            <div class="main-container-boss">
                <div id="name"></div>
                <img id="image" alt="Boss Image" class="boss-image" width="350" height="300" />
                <div id="description"></div>

            </div>
        </div>
    </form>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.menu a').click(function () {
            var bossName = $(this).text().trim();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetNPSInfo", "Home")',
                data: { bossName: bossName },
                success: function (data) {
                    $('#name').text(data.name);
                    $('#image').attr('src', data.image);
                    $('#description').text(data.description)
                },
                error: function () {
                    alert('Произошла ошибка при получении информации о НПС');
                }
            });
        });
    });
</script>