<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EscapeFromTarkov</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/autho.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EscapeFromTarkov.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/reg.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/private.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/boss.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div>
            <div class="v1_136"></div>
        </div>
        <input class="exit" onclick="location.href='@Url.Action("Exit", "Home")'" type="button" />
    </header>
    <main class="fon">
        @RenderBody()
    </main>
    <footer>
        <div></div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
