/* Стили для метки */
label {
    display: block; /* Блочный элемент */
    margin-bottom: 5px; /* Внутренний отступ снизу у метки */
}

/* Стили для ввода текста */
input[type="text"],
input[type="file"],
textarea {
    width: 100%; /* Ширина ввода текста в поле формы */
    padding: 10px; /* Внутренний отступ вокруг текста в поле формы */
    margin-top: 5px; /* Внутренний отступ сверху у ввода текста */
    border: 1px solid #ccc; /* Граница ввода текста */
    border-radius: 5px; /* Скругление углов ввода текста */
}

/* Стили для сообщения об ошибке валидации */
.text-danger {
    color: #ff0000; /* Цвет текста для сообщения об ошибке */
    font-size: 12px; /* Размер шрифта для сообщения об ошибке */
}

/* Стили для кнопки отправки формы */
button[type="submit"] {
    padding: 10px 20px; /* Внутренний отступ кнопки */
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Скругляем углы кнопки */
    background-color: #007bff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    cursor: pointer; /* Значок указателя при наведении на кнопку */
}
/* Стили для общего контейнера формы */
.boss-container {
    max-width: 500px; /* Максимальная ширина формы */
    margin: 0 auto; /* Центрирование формы на странице */
    padding: 20px; /* Внутренний отступ формы */
    border: 1px solid #ccc; /* Граница формы */
    border-radius: 5px; /* Скругление углов формы */
}

/* Стили для группы формы */
.form-group {
    margin-bottom: 20px; /* Внешний отступ между группами формы */
}