.boss-table {
    text-align:center;
    margin:2%;
    color:white;
}
th {
    font-weight: bold;
}
.main-container-boss {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr; /* Один столбец */
    height: 85%;
    width: 90%;
    margin: 2%;
    position: relative;
    border: 1px solid rgba(205,201,218,1);
    background-color: rgba(50,50,50,70%);
    border-radius: 3px;
    font-size: 20px;
}

    .main-container-boss div {
        color: white;
        margin: 1%;
    }
#name {
    text-align:center;
    font-weight:bold;
}
#image {
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 600px;
    height:400px;
}
#description {
    text-indent: 30px;
}