.chat-container {
    display: flex;
    height: 600px;
    width: 850px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 2%;
    position: relative; /* Добавлено */
}

/* Стили для списка пользователей и информации о пользователе */
.user-container {
    width: 250px;
    background-color: #1F1F1F;
    padding: 20px;
    color: white;
    display: flex; /* Добавлено */
    flex-direction: column; /* Добавлено */
}
.user-filters {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    flex-direction: column;
    background-color: #2c2c2c;
    color: white;
    height:100%;
    width:300px;
}
.hidden {
    display: none;
}

.user-filter {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
    justify-content: right;
}

    .user-filter label {
        margin-right: 5px;
        font-weight: bold;
    }

    .user-filter input[type="number"] {
        width: 80px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .user-filter select {
        padding: 5px;
        border-radius: 3px;
        background: rgba(109,101,85,1);
        opacity: 1;
        border: 1px solid rgba(205,201,218,1);
        color: white;
        justify-content: center;
    }
    .user-filter input {
        background: rgba(109,101,85,1);
        opacity: 1;
        border: 1px solid rgba(205,201,218,1);
        border-radius: 3px;
        color: white;
    }
#toggle-btn {
    position: relative;
    transform: translate(-50%, -50%);
    padding: 5px;
    background-color: #918559;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    left:50%;
}
#find-button {
    position: relative;
    padding: 10px;
    background-color: #918559;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.user-list {
    list-style-type: none;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
    flex-grow: 1; /* Добавлено */
}

    .user-list ul {
        list-style-type: none;
        padding: 0;
    }
    .user-list li {
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 5px;
    }

        .user-list li.active {
            background-color: #9a8866;
        }

.user-info {
    height: 250px;
    background-color: #2c2c2c;
    margin-top: 10px; /* Расстояние между списком и информацией о пользователе */
    font-size: 14px;
    border-color: black;
    border-width: 5px;
}

/* Стили для чата */
.chat {
    flex-grow: 1;
    padding: 20px;
    background-color: #2c2c2c;
}

.chat-messages {
    height: 500px;
    overflow-y: auto;
    margin-bottom: 20px;
    flex-direction: column;
}

.chat-input {
    display: flex;
    align-items: center;
}

    .chat-input input {
        flex: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #9a8866;
        color: #fff;
    }

    .chat-input button {
        margin-left: 10px;
        padding: 10px 20px;
        background-color: #918559;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

.message {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 3px 0;
    border-radius: 5px;
}

.message-content {
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 5px;
    background: #9a8866;
    text-shadow: 0 0 3px #fff000,0 0 10px rgba(255,0,0,.75);
    color: #fff;
}

.their {
    background: #9a8866;
}

.their-message {
    flex-direction: row-reverse;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url("../img/bot.png");
    background-size: cover; /* Размер фона */
    background-position: center;
}

.their-avatar {
    order: -1; /* Используйте свойство order для перемещения изображения вправо */
    margin-left: 10px;
    background-image: url("../img/user.png");
    background-size: cover; /* Размер фона */
    background-position: center;
}